* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
Colors:
- white: white
- darker white: #D9D5D1
- black: #474747
- red: #d16014
- yellow: #d1ac00
- green: #7c9885
- blue: #7699d4
- purple: #967aa1
*/
html {
    height: 100%;
}
body {
    background-color: #D9D5D1;
    height: 100%;
}

nav {
    background-color:white;
}

h2 {
    font-family: 'Balsamiq Sans', cursive;
    color: #474747;
}
p {
    font-family: 'Montserrat', sans-serif;
}